# Main Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=
ADMIN_IDS=
GOOGLE_SHEET_ID=
GOOGLE_CREDENTIALS_FILE=credentials.json

# Spam Bot (Userbot) Configuration
API_ID=1234567
API_HASH=your_api_hash_here
PHONE=+79991234567
